@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
:root {
--primary-color: #1B98E0;
--secondary-color: #59c3c3;
--text-dark: #333;
--text-light: #ebebeb;
--primary-font: Arial, Helvetica,sans-serif;
--secondary-font: "Amatic SC", sans-serif;
}

/* *{
    border: 1px solid red;
} */

header{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.site-logo{
    height:80px;
}

h1, h2{
    font-family: var(--secondary-font);
    font-size: 3em;
}


body{
    font-family: var(--primary-font);
}

.search-row{
    display: flex;
    img{
        height: 40px;
        width: 100%;
    }
    input{
        height: 50px;
        width: 100%;
        border-radius: 5px;
        font-size: 20px;
    }
    button{
        border-radius: 5px;
    }
    justify-content: center;
}

h2{
    margin-top: 5%;
    margin-bottom: 10px;
    font-size: 4em;
    color: var(--secondary-color);
}

.recipe{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 20px;
    .recipe-image{
        height: 50%;
    }
    .tag-row{
        margin-top: 30px;
        padding-left: 8px;
        border: 1px solid black;
        font-size: 2em;
        width: 18%;
        height: 25%;
    }
    p {
        margin-top: 0;
        font-size: 2em;
    }
    .icon-star, .icon-star-empty{
        font-size: 2em;
    }
}


.social {
    display: flex;
    margin-top: 10%;
    justify-content: center;
    img{
        height: 70px;
    }
}

a{
    display: flex;
    justify-self: center;
    padding-top: 20px;
    font-size: 25px;
}