@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
:root {
--primary-color: #1B98E0;
--secondary-color: #449191;
--text-dark: #333;
--text-light: #ebebeb;
--primary-font: Arial, Helvetica,sans-serif;
--secondary-font: "Amatic SC", sans-serif;
}

/* *{
    border: 1px solid red;
} */

header{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.site-logo{
    height:80px;
}

h1, h2{
    font-family: var(--secondary-font);
    font-size: 3em;
}


body{
    font-family: var(--primary-font);
}

.search-row{
    display: flex;
    img{
        height: 16px;
        width: auto;
    }
    
    input{
        width: 90%;
        height: 50px;
        border-radius: 5px;
        font-size: 30px;
    }

    button{
        border-radius: 5px;
        width: 5%;
    }

    justify-content: center;
}

h2{
    margin-top: 10%;
    font-size: 4em;
    color: var(--secondary-color);
}

.recipe{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 20px;
    align-items: flex-start;

    .recipe-image{
        height: 50%;
        width: auto;
    }

    .tag{
        display: inline-block;
        padding: 5px 10px;
        border: 1px solid black;
        font-size: 2em;
        margin-top: 30px;
        width: fit-content;
        gap: 5px;
    }

    .tag-container{
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
    }

    p {
        font-size: 2em;
    }

    .icon-star, .icon-star-empty{
        font-size: 2em;
    }
}

.social {
    display: flex;
    margin-top: 20px;
    justify-content: center; 
}

.social img{
        height: 70px;
        width: auto;
}

a{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 25px;
    text-decoration: none;
    color: var(--secondary-color);
}


@media screen and (min-width: 600px){
    .search-row input{
        width: 80%;
    }

    h2{
        justify-content: left;
        margin-top: 20px;
    }

    .recipe{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        gap: 20px;
        padding: 30px;
        width: 90%;
        justify-content: center;
        margin: 0 auto;
        margin-top: 30px;
        
    }
    .recipe-image{
        height: 100%;
        width: 100%;
        align-self: center;
    }

    .recipe-content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .tag{
        display: inline-block;
        margin-right: 10px;
        padding: 5px 10px;
        border: 1px solid black;
        font-size: 2em;
        margin-top: 30px;
        width: fit-content;
    }

    .tag-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: 5%;
    }

    .main-text{
        display: flex;
        margin-top: 5%;
        margin-left: 20px;
        flex-direction: column;
        justify-content: flex-start;
    }
        
    p {
        margin-top: 0;
        font-size: 2em;
    }

    .icon-star, .icon-star-empty{
        font-size: 2em;
    }

    .footer-content{
        display: block;
        width: 95%;
        margin: 0 auto;
        box-sizing: border-box;
    }

    .footer-content .social{
        gap: 5px;
    }
        
    .footer-content a{
        display: flex;
        align-self: flex-end;
        text-decoration: none;
        color: var(--secondary-color);
    }
}


@media screen and (min-width: 1000px){
    .search-row input{
        width: 80%;
    }

    h2{
        justify-content: left;
        margin-top: 20px;
    }

    .recipe{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        border-radius: 5px;
        gap: 20px;
        padding: 30px;
        width: 80%;
        justify-content: center;
        margin: 0 auto;
        margin-top: 30px;

        
    }
    .recipe-image{
        height: 50%;
    }

    .recipe-content{
        display: flex;
        flex-direction: column;
    }

    .tag{
        display: inline-block;
        margin-right: 10px;
        padding: 5px 10px;
        border: 1px solid black;
        font-size: 2em;
        margin-top: 30px;
        width: fit-content;
    }

    .tag-container{
        display: flex;
        flex-wrap: nowrap;
    }

    .main-text{
        display: flex;
        margin-top: 5%;
        margin-left: 20px;
        flex-direction: column;
        justify-content: flex-start;
    }
        
    p {
        margin-top: 0;
        font-size: 2em;
    }

    .icon-star, .icon-star-empty{
        font-size: 2em;
    }

    .footer-content{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        width: 85%;
        margin: 0 auto;
        box-sizing: border-box;
    }

    .footer-content .social{
        gap: 5px;
    }
        
    .footer-content a{
        display: flex;
        align-self: flex-end;
        text-decoration: none;
        color: var(--secondary-color);
    }
}