@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

:root {
    --primary-color: #52489c;
    --secondary-color: #59c3c3;
    --accent-color: #f45b69;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica,sans-serif;
    --secondary-font: Mooli, san-serif;
    }

header {
    background-color: #52489c;
    margin: 0;
    color: white;
    display: block;
    align-items: center;
    justify-content: center;
    padding-top: 1em;
}

h1 {
    margin: 0;
    padding-bottom: 0.5em;
}

h1, h2 {
    font-family: "Mooli" ;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: column;
    font-family: var(--primary-font);
    color: white;
    text-align: center;
    gap: 0.5em;
    margin: 0;
    padding-bottom: 1em;
}

body {
    font-family: var(--primary-font);
    font-size: 1.2em;
    margin: 0;
  }

a:link, a:visited {
    color: white;
}

button {
    background-color: #52489c;
    border: none;
    font: var(--primary-font);
    color: white;
    font-size: 1.4em;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    align-self: center;
}

.gallery img {
    margin: 1em auto;
}

.gallery figure {
    box-shadow: 10px 10px 15px #333;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

footer {
    background-color: #52489c;
    color: white;
    margin: 0;
    padding: 0.5em 0;
}

footer p {
    padding-left: 5em;
}

@media screen and (min-width: 700px){
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-right: 1em;
    }

    .gallery figure {
        box-shadow: 10px 10px 15px #333;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding: 0.5em;
    }

    .gallery img{
        max-width: 100%;
    }
}

@media screen and (min-width:1000px) {
    button {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5em;
        padding-top: 2em;
    }

    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .gallery figure {
        box-shadow: 10px 10px 15px #333;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding: 10px;
        width: 60%;
        margin-bottom: 50px;
    }

    .gallery img{
        max-width: 100%;
    }
}